* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  font-size: 16px;
}

body {
  position: relative;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Define CSS Variables */
:root {
  --primary-bg: #f7f7f7;
  --primary-text: #000;
  --secondary-text: #717171;
  --hover-text: #333;
  --border-radius: 0.3em;
  --primary-color: black;
  --accent-color: #30d5c7;
  --accent-dark-color: #183368;
  --border-color: #ececec;
  --text-color: #9b9b9b;
  --white: #ffffff;
}

